<footer>
    <div class="footer-container">
        <div class="footer-content"> 
            <div class="media-icons">
                <a href="#"><img src="./images/twitter.svg"></a>
                <a href="#"><img src="./images/twitch.svg"></a>
                <a href="#"><img src="./images/facebook.svg"></a>
                <a href="#"><img src="./images/instagram.svg"></a>
                <a href="#"><img src="./images/tiktok.svg"></a>
            </div>
            <div style="width: 100%; height: 1px; background-color: #f2ebe6;"></div>
            <div class="footer-text"><p style="padding-top: -20px;">© From new programmer 2024</p></div>
        </div>
    </div>
</footer>
</body>
</html>