<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+ZA:wght@100..400&display=swap" rel="stylesheet">
    <title>Blog Website</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="logo">
                <img src="./images/blog-icon.png" alt="blog icon">
                <a href="#"><h4>Blog Website</h4></a>
            </div>
            <div class="menu">
                <a href="#"><h4>Home</h4></a>
                <a href="#"><h4>All Blogs</h4></a>
                <a href="#"><h4>Create Blog</h4></a>
                <a href="#"><h4>Contact</h4></a>
                <a href="#"><h4>About</h4></a>
            </div>
        </div>
    </header>